.row a{
    margin-left: 70px;
    font-size: 20px;
    border-radius: 20px;
    background-color: blueviolet;
}
.col-3 a{
    margin-left: 70px;
    font-size: 20px;
    border-radius: 20px;
    transition: 0.7;
    
}
.cart{
    border-radius: 50px;
}
